/*base*/
html{
    font-size:62.5%;
    padding:0 30px;
}
html,
body{
    height:100%;
    margin:0;
    font-family:'微软雅黑';
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent; /* For some Androids */
    -webkit-text-size-adjust:none;
    -webkit-touch-callout:behavior;
    background:#3C4547;
    /*overflow:hidden;*/
}
h1,h2,h2,h3,h4,h5,h6{
    margin:0;
    font-size:100%;
}
p,dl,dd,form,figure{
    margin:0;
}
td,th{
    padding:0;
}
a,a:hover,time{
    text-decoration:none;
}
ol,ul{
    padding:0;
    margin:0;
    list-style:none;
}
li{
    list-style-type:none;
}
table{
    border-collapse:collapse
}
img{
    border:none;
    vertical-align:middle;
}
em,i{
    font-style:normal;
}
textarea,input{
    padding:0;
    margin:0;
    resize:none;
    outline:none;
    vertical-align:middle;
    -webkit-appearance:none;
    font-family:'微软雅黑';
}
.rel{
    position:relative;
}
.abs{
    position:absolute;
}
.dn{
    display:none;
}
.b{
    font-weight:bold;
}
.f12{
    font-size:12px;
}
.red {
    color: red;
}
.r{
    float:right;
}
.l{
    float:left;
}
.hide {
    display:none;
}
.block {
    display:block;
}
.fl {
    float:left;
}
.fr {
    float:right;
}
.tl {
    text-align:left;
}
.tr {
    text-align:right;
}
.tc {
    text-align:center;
}
.cl{
    clear:both;
}
.mc{
    margin:0 auto;
}
.textOverflow{
    white-space:nowrap;
    text-overflow:ellipsis;
    overflow:hidden;
}
.clearfix:before,
.clearfix:after{
    display:block;
    width:100%;
    height:0;
    line-height:0;
    overflow:hidden;
    clear:both;
    content:"";
}
/*html5 reset*/
header,nav,article,section,aside,footer,figure,figcaption{
    display:block;
}

/*chart*/
body{
    height:calc(100% - 140px);
    padding:80px 0 130px;
    overflow: hidden;
}
.zsy-m-chart-cont1{
    height:calc(100% - 45px);
    overflow:hidden;
}
.zsy-m-chart-cont1-left{
    width:calc(50% - 13px);
    height:calc(50% - 45px);
    padding-top:30px;
    margin-bottom:30px;
    border-radius:20px;
    background:#303739;
}
.zsy-m-chart-cont1-left:nth-child(even){
    float:right;
}
.zsy-m-chart-h3{
    position:relative;
    height:46px;
    line-height:46px;
    margin-left:30px;
    overflow:hidden;
    color:#59F7C8;
    font-size:20px;
}
.zsy-m-chart-h3.bg{
    margin-bottom:30px;
    padding-right:36px;
    border-radius:23px;
    background:#262C2E;
}
.zsy-m-chart-h3:before{
    display:block;
    position:absolute;
    left:21px;
    bottom:-1px;
    z-index:1;
    width:25px;
    height:25px;
    background:#59F7C8;
    content:'';
}
.chart-title-number{
    position:relative;
    z-index:2;
    width:46px;
    height:46px;
    margin-right:27px;
    border-radius:50%;
    background:#59F7C8;
    text-align:center;
    color:#166A51;
    font-size:30px;
}
.zsy-m-chart-cont1-left-chart{
    position: relative;
    margin: 0 30px;
    height: calc(100% - 95px);
    clear:both;
}
.zsy-m-chart-cont1-right{
    height:517px;
    margin-right:30px;
    overflow:hidden;
}
.zsy-m-chart-cont1-left-title{
    height:60px;
    margin:15px 0 0 290px;
    overflow:hidden;
}
.zsy-m-chart-cont1-left-title>li,
.zsy-m-chart-cont1-right-msg>li{
    float:left;
    height:15px;
    line-height:15px;
    margin:0 10px 5px 0;
    color:#59F7C8;
    overflow:hidden;
}
.zsy-m-chart-cont1-left-title>li>i,
.zsy-m-chart-cont1-right-msg>li>i{
    float:left;
    width:15px;
    height:15px;
    margin-right:5px;
}
/*旋转*/
.zsy-m-chart-cont1-left-chart>span{
    display:block;
    position:absolute;
    top:100px;
    left:100px;
    transform:rotate(-45deg);
    transform-origin:right top;
}
.zsy-m-chart-cont1-right-map{
    width:50%;
}
.zsy-m-chart-cont1-right-map-cont,
.zsy-m-chart-cont1-right-chart-cont{
    height:370px;
    margin:76px 10px 0 0;
    background:#12829E;
}
.zsy-m-chart-cont1-right-chart{
    overflow:hidden;
}
.zsy-m-chart-cont1-right-chart>h3{
    margin-left:10px;
}
.zsy-m-chart-cont1-right-chart-cont{
    margin-right:0;
    overflow:hidden;
    background:#272822;
}
.zsy-m-chart-cont1-right-msg{
    margin-top:15px;
    clear:both;
}
.zsy-m-chart-cont2{
    margin-top:50px;
    text-align:center;
}
.zsy-m-chart-cont2-cont{
    display:inline-block;
    width:32%;
    height:360px;
}
.zsy-m-chart-h3>.span-tab{
    display:block;
    height:46px;
    border-radius:30px;
    font-size:15px;
    font-weight:normal;
    overflow:hidden;
    background:#363E3F;
}
.zsy-m-chart-h3>.chart-title-number{
    margin-right:15px;
}
.zsy-m-chart-h3>.span-tab>a{
    float:left;
    padding:0 15px;
    border-right:1px solid #3C4547;
    color:#92ADB6;
}
.zsy-m-chart-h3>.span-tab>a:first-child{
    padding-left:25px;
}
.zsy-m-chart-h3>.span-tab>a:last-child{
    padding-right:25px;
}
.zsy-m-chart-h3>.span-tab>a.active{
    background:#000;
    color:#59F7C8;
}
.zsy-m-chart-cont2-chart{
    height:320px;
    margin-top:70px;
    /*background:#92ADB6;*/
}